@font-face{
    font-family: 'NeoSansPro-Bold';
   src: url('../assets/Fonts/NeoSansPro-Bold.eot') format('embedded-opentype'),
     url('../assets/fonts/NeoSansPro-Bold.ttf') format('truetype'),
     url('../assets/fonts/NeoSansPro-Bold.woff') format('woff');
   font-weight: normal;
   font-style: normal;
}

@font-face{
    font-family: 'NeoSansPro-Light';
   src: url('../assets/Fonts/NeoSansPro-Light.eot') format('embedded-opentype'),
     url('../assets/fonts/NeoSansPro-Light.ttf') format('truetype'),
     url('../assets/fonts/NeoSansPro-Light.woff') format('woff');
   font-weight: normal;
   font-style: normal;
}

@font-face{
    font-family: 'NeoSansPro-Medium';
   src: url('../assets/Fonts/NeoSansPro-Medium.eot') format('embedded-opentype'),
     url('../assets/fonts/NeoSansPro-Medium.ttf') format('truetype'),
     url('../assets/fonts/NeoSansPro-Medium.woff') format('woff');
   font-weight: normal;
   font-style: normal;
}

@font-face{
    font-family: 'NeoSansPro-Regular';
   src: url('../assets/Fonts/NeoSansPro-Regular.eot') format('embedded-opentype'),
     url('../assets/fonts/NeoSansPro-Regular.ttf') format('truetype'),
     url('../assets/fonts/NeoSansPro-Regular.woff') format('woff');
   font-weight: normal;
   font-style: normal;
}


@ion-content{
  height: 100%;
}