<div style="background-color: #597b85;">
    <p>Sala Inwork 1</p>
    <table>
        <tr>
            <th colspan="9">10:22</th>
        </tr>
        <tr>
            <th colspan="9">T 21º/ H 33%</th>
        </tr>
        <tr>
            <th colspan="9">2 personas</th>
        </tr>
        <tr>
            <td class="verde"><button class="verde">10:00</button></td>
            <td class="rojo"><button class="rojo">10:30</button></td>
            <td class="rojo"><button class="rojo">11:00</button></td>
            <td class="amarillo"><button class="amarillo">11:30</button></td>
            <td class="verde"><button class="verde">12:00</button></td>
            <td class="verde"><button class="verde">12:30</button></td>
            <td class="rojo"><button class="rojo">13:00</button></td>
            <td class="verde"><button class="verde">13:30</button></td>
        </tr>
    </table>
    <table>
        <tr>
            <td class="amarillo" colspan="2"><button class="amarillo">Reserva</button></td>
            <td class="amarillo" colspan="2"><button class="amarillo">Ampliar</button></td>
            <td class="verde" colspan="2"><button class="verde">Finalizar</button></td>
            <td class="amarillo" colspan="2"><button class="amarillo">Codigo QR</button></td>
        </tr>
    </table>
</div>