/* table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
} */
/* th, td {
  padding-top: 10px;
  padding-bottom: 20px;
  padding-left: 30px;
  padding-right: 40px;
} */

/* table,
th {
    border: 1px solid black; 
} */

table {
    width: 100%;
    border-spacing: 10px;
}

td {
    height: 60px;
    width: 60px;
    text-align: center;
    font-family: NeoSansPro, Arial, Verdana, sans-serif;
    color: white;
}

th {
    color: white;
    text-align: right;
    font-family: NeoSansPro, Arial, Verdana, sans-serif;
}

.amarillo {
    background-color: #ffc033;
}

.verde {
    background-color: #01cc63;
}

.rojo {
    background-color: #e73838;
}

p {
    color: white;
    text-align: right;
    font-family: NeoSansPro, Arial, Verdana, sans-serif;
}

button{
    padding: 5px;
    margin: 0 0 0 0px;
    width: 100%;
    height: 100%;
    text-align: center;
    cursor: pointer;
    font-family: NeoSansPro, Arial, Verdana, sans-serif;
    color: white;
    border: none;
}